body {
    background-color: #f4f4f4;
}
h1{
  font-family: 'Montserrat', sans-serif;  
}
h2{
    font-family: 'Montserrat', sans-serif;
}
p{
    font-family: 'Roboto', sans-serif;
}

header.main-image
{
    height: 80vh;
    background-image: url(../assets/landing-img.png);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.quote-local {
    color: #bd1a15;
}