body {
    background-color: #f4f4f4;
}

.navbar-logo-local {
    width: 50px;
    height: auto;
}

.navbar-local {
    background-color: white;
    background-image: none;
    background-repeat: no-repeat;
}

.navbar-brand-local {
    padding-top: 5px;
    padding-bottom: 5px;
}

.extended-logo-local {
    width: 300px;
    height: auto;
    float: right;
}

.element-nav-local{
    font-size: 20px;
    color: #000000;
    border-left-width: 1px;
    border-style: solid;
    border-right-width: 0;
    border-top-width: 0;
    border-bottom-width: 0;
    border-color: #000000;
    padding-bottom: 10px;
}

.last-nav-local {
    font-size: 20px;
    color: #000000;
    border-left-width: 1px;
    border-style: solid;
    border-top-width: 0;
    border-bottom-width: 0;
    border-color: #000000;
    border-right-width: 1px;
}

.element-nav-local:hover{
    color: #bd1a15;
    background-color: lightgray;
    transition-duration: 0.5s;
    cursor: pointer;
    /*border-radius: 10px;*/
}

.last-nav-local:hover{
    color: #bd1a15;
    background-color: lightgray;
    transition-duration: 0.5s;
    cursor: pointer;
    /*border-radius: 10px;*/
}

.footer-local {
    margin-top: 30px;
    padding-top: 30px;
    padding-bottom: 15px;
    background-image: url("../assets/SBU_Red_background.jpg");
    background-repeat: repeat;
    color: white;
    
}

.footer-local a {
    color: white;
}

.footer-orgs-local {
    padding-left: 70px;
}

.footer-social-local {
    padding-right: 70px;
    text-align: right;
}

.social-media-local {
    width: 30px;
    height: auto;
    float: right;
    padding-top: 10px;
    margin-left: 20px;
}

.footer-copy-local {
    margin-top: 20px;
}