body {
    background-color: #f4f4f4;
}
h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
    text-shadow: 1px 1px 2px #5F5F5F;
}
h2{
    font-family: 'Montserrat', sans-serif;
}
p{
    font-family: 'Roboto', sans-serif;
}
.navbar-logo-local {
    width: 50px;
    height: auto;
}
.navbar-local {
    background-color: white;
    background-image: none;
    background-repeat: no-repeat;
    padding-top: 0px;
    padding-bottom: 0px;
}
.navbar-nav li{
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 3px;
    color: black !important;
}
.navbar-brand-local {
    padding-top: 5px;
    padding-bottom: 5px;
}


.extended-logo-local {
    width: 300px;
    height: auto;
    float: right;
}

.element-nav-local{
    font-size: 20px;
    padding-bottom: 10px;
}

.last-nav-local {
    font-size: 20px;
}

.element-nav-local:hover{
    color: #bd1a15;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 10px;
}

.footer-local {
    margin-top: 30px;
    padding-top: 30px;
    padding-bottom: 15px;
    background-image: url("../assets/SBU_Red_background.jpg");
    background-repeat: repeat;
    color: white;
    
}

.footer-local a {
    color: white;
}

.footer-orgs-local {
    padding-left: 70px;
}

.footer-social-local {
    padding-right: 70px;
    text-align: right;
}

.social-media-local {
    width: 30px;
    height: auto;
    float: right;
    padding-top: 10px;
    margin-left: 20px;
}

.footer-copy-local {
    margin-top: 20px;
}