.recruitment-banner {
    margin: 5%;
}

.recruitment-banner img {
    width: 70%;
    float: right;
}

.recruitment-banner p{
    width: 28%;
    float: left;
    font-size: 20px;
    color: blue;
    padding-right: 5px;
    padding-top: 10%;
}

.form-title-local {
    text-align: center;
    font-size: 28px;
    padding-top: 10px;
}
.form-local {
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    margin-top: 15px;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    padding:30px;
}

header.main-image
{
    height: 80vh;
    background-image: url(../assets/Recruitment\ image.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}